/*Available Fonts

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-header {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.6))), url(../images/header-backgrd.jpg);
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.6)), url(../images/header-backgrd.jpg);
  background-position: bottom;
  background-size: cover;
  height: 500px;
}

.main-header header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.main-header header .brand {
  width: auto;
  padding: 10px;
}

.main-header header .brand img {
  width: 90px;
  height: auto;
}

.main-header header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
  float: left;
}

.main-header header nav img {
  width: 150px;
}

.main-header header .nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.main-header header .nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  font-weight: bold;
}

.main-header header .nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

.main-header header .nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-header header .nav-links ul li:hover::after {
  width: 100%;
}

.main-header .text-box {
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

.main-header .text-box h1 {
  font-size: 2.2em;
  color: burlywood;
  font-family: 'Lora', serif;
}

.main-header .text-box p {
  margin: 10px 0 40px;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

.main-header .text-box .hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #FFD800;
  font-weight: bold;
  cursor: pointer;
}

.main-header .text-box .hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-icon {
  display: none;
  color: #fff;
}

.events {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
  margin-top: 20px;
}

.events .event {
  width: 80%;
  margin: auto;
  background-color: #FFEFD5;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .event h1 {
  font-size: 40px;
  color: #FFB965;
  font-weight: bold;
}

.events .event p {
  line-height: 1.9em;
}

.events .event .reminders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .event .reminders .reminder {
  text-align: center;
  height: auto;
  padding: 10px;
}

.events .event .reminders .reminder img {
  width: 60px;
  height: auto;
}

.events .event .reminders .reminder p {
  text-transform: uppercase;
}

.events .event .event-img {
  width: 50%;
  height: auto;
  text-align: right;
}

.events .event .event-img img {
  width: 400px;
}

.service {
  width: 100%;
}

.service #service {
  width: 80%;
  margin: auto;
}

.about {
  width: 100%;
}

.about #about {
  text-align: center;
  width: 80%;
  margin: auto;
}

.about #about h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Lora', serif;
}

.about #about p {
  font-size: 1.2em;
  line-height: 1.9em;
}

.about #about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about #about .row img {
  margin-left: 10px;
}

.prayer-times {
  width: 100%;
}

.prayer-times #prayer-times {
  text-align: center;
  width: 80%;
  margin: auto;
}

.prayer-times .prayer-times-col {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border-radius: 5px;
  margin-bottom: 5%;
  text-align: left;
  background: #DDC413;
  padding: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donate {
  width: 100%;
}

.donate #donate {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.donate #donate p {
  color: black;
  font-size: 20px;
  font-style: italic;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.donate #donate h4 {
  text-align: center;
  margin-top: 0;
}

.donate #donate a {
  text-decoration: none;
}

.footer {
  width: 100%;
  background-color: blanchedalmond;
  bottom: 0;
  padding: 20px 0;
}

.footer .footer-wrapper {
  width: 80%;
  margin: auto;
}

.footer .footer-wrapper p {
  text-align: center;
  text-transform: uppercase;
  color: #464646;
  font-size: 0.8em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .events {
    margin-bottom: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .events .event {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .events .event .reminders .reminder img {
    width: 60px;
    height: auto;
  }
  .events .event .event-img {
    width: 50%;
    height: auto;
    text-align: right;
  }
  .events .event .event-img img {
    width: 400px;
  }
  .about #about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about #about .row img {
    margin-bottom: 20px;
  }
  .donate-col {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    flex-basis: 31%;
    background: grey;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .donate-col img {
    width: 100%;
    border-radius: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .donate-col {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    flex-basis: 31%;
    background: grey;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .donate-col img {
    width: 100%;
    border-radius: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=styles.css.map */